* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Sofadi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-image: url(../assets/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    margin: 0;
    color: yellow;
}

button {
    width: 15vh;
    margin: 2vh;
    font-family: "Sofadi One", sans-serif;
    background-color: red;
    border-color: red;
    color: yellow;
    font-weight: bold;
    font-size: 3vh;
}

button:hover {
    background-color: rgb(199, 0, 0);
    border-color: rgb(199, 0, 0);
    color: rgb(194, 194, 2);
    cursor: pointer;
}

h1 {
    font-size: 6vh;
}

h2 {
    font-size: 2vh;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60rem;
    margin: auto;
    background-color: rgb(33, 33, 33, .6);
    margin-bottom: 1vh;
    margin-top: 2vh;
    border-radius: 3vh;
}

.title img {
    width: 15vh;
    margin-left: 5vh;
}

.burger-info {
    margin-left: 5vh;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1vh;
    margin: auto;
    max-width: 110rem;
}

.menu, .menu-drinks {
    display: grid;
    border-style: solid;
    border-color: red;
    width: 100%;
    max-width: 50rem;
    height: 45rem;
    margin: auto;
    font-size: 2vh;
    background-color: rgba(33, 33, 33, .6);
    margin-bottom: 2vh;
}

.burgers {
    margin-top: 2vh;
    margin-left: 2vh;
}

.menu-option {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 2vh;
}

.menu-option .menu-option-details {
    display: flex;
    flex-direction: column;
}

.price {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.menu-option .menu-option-details p {
    color: white;
}

.menu-option .menu-option-details h3 {
    text-transform: uppercase;
}

.drinks {
    margin-left: 20px;
    margin-top: 20px;
}

.contact {
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {    
    .title {
        width: 90%;
        flex-direction: column;
    }

    button {
        width: 25vh; 
        font-size: 4vh; 
    }

    h1 {
        font-size: 5vh; 
    }

    h2 {
        font-size: 2.5vh; 
    }

    .grid-container {
        grid-template-columns: 1fr; 
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 4vh; 
    }

    h2 {
        font-size: 2vh;
    }

    button {
        font-size: 3vh;
    }

    .burger-info {
        margin-left: 2vh;
    }
}
