* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Sofadi One", system-ui;
    font-weight: 400;
    font-style: normal;
    background-color: black;
    color: yellow;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-color: red;
    width: 50rem;
    margin: auto;
    margin-top: 20px;
    background-color: rgb(33, 33, 33);
}

.header img {
    width: 100px;
}

.burger-info {
    margin-left: 50px;
}

.menu {
    display: grid;
    border-style: solid;
    border-color: red;
    width: 50rem;
    height: 75rem;
    margin: auto;
    font-size: 20px;
    background-color: rgb(33, 33, 33);
    margin-bottom: 20px;
}

.burgers {
    margin-top: 20px;
    margin-left: 20px;
}

.menu-option {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px;
}

.menu-option .menu-option-details {
    display: flex;
    flex-direction: column;
}

.price {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.menu-option .menu-option-details p {
    color: white;
}

.menu-option .menu-option-details h3 {
    text-transform: uppercase;
}

.drinks {
    margin-left: 20px;
    margin-top: 20px;
}

.contact {
    margin-left: 20px;
    display: flex;
    align-items: center;
}


